[submodule "rapidxml"]
	path = rapidxml
	url = https://github.com/dwd/rapidxml.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "doc"]
	path = doc
	url = https://git.overleaf.com/8756284svvgjtxktsmv
