*.cc linguist-language=C++
benchmarks/* linguist-vendored
test/* linguist-vendored
src/gen*/* linguist-vendored
src/core/* linguist-vendored
src/BXforFAST/* linguist-vendored
doc/* linguist-documentation
