language: cpp
os:
  - osx
  - linux
compiler: 
  - clang
before_install:
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
    brew update;
    brew install "protobuf;version=3.2.0";
    brew install flatbuffers;
    fi
  - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
    sudo apt-get update;
    sudo apt-get install protobuf;
    sudo apt-get install flatbuffers;
    fi
script:
  - cd test && ./test.sh
