language: cpp
os:
  - osx
  - linux
dist: trusty
sudo: required
before_install:
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
    brew update;
    brew tap yijunyu/fast; brew install srcml;
    brew install protobuf;version=3.3.0 && brew install flatbuffers;
    git clone --recursive https://github.com/srcml/srcSlice; cd srcSlice/srcSAX; mkdir build; cd build; cmake ..; make; sudo cp bin/libsrcsax.* /usr/local/lib/; cd ../../..;
    fi
  - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
    sudo apt-get install apt-transport-https;
    sudo su -c "echo deb https://yijunyu.github.io/ubuntu ./ >> /etc/apt/sources.list";
    sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y;
    sudo apt-get update;
    sudo apt-get install gcc-4.9 g++-4.9;
    sudo ln -s -v -f $(which g++-4.9) /usr/bin/g++; 
    sudo ln -s -v -f $(which gcc-4.9) /usr/bin/gcc; 
    sudo apt-get install -y --force-yes srcml;
    sudo apt-get install libarchive13;
    sudo apt-get install libxml2;
    wget https://github.com/google/flatbuffers/archive/v1.6.0.tar.gz; tar xvfz v1.6.0.tar.gz; cd flatbuffers-1.6.0; cmake .; make; sudo make install; cd -;
    wget https://github.com/google/protobuf/releases/download/v3.3.0/protobuf-cpp-3.3.0.tar.gz; tar xvfz protobuf-cpp-3.3.0.tar.gz; cd protobuf-3.3.0; ./configure; make; sudo make install; cd -;
    git clone --recursive https://github.com/srcml/srcSlice; cd srcSlice/srcSAX; mkdir build; cd build; cmake ..; make; sudo cp bin/libsrcsax.* /usr/local/lib/; cd ../../..;
    export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib;
    fi
script:
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
  - cd test && ./test.sh
