Source: fast
Maintainer: Yijun Yu <y.yu@open.ac.uk>
Section: misc
Priority: optional
Standards-Version: 0.0.1
Build-Depends: debhelper (>= 9)

Package: fast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, srcml (>= 0.9.5)
Description: flatten abstract syntax tree
 To be fast, don't need to parse again with fast!
